@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




* {
        margin: 0;
        padding: 0;
       box-sizing: border-box;
}

    aside{
        background-color: black;

        color: white;
    }



body{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: black;
 
 
}


body{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    

}
p {
    font-size: 1em;
}

header h1{
        color: black;
        font-size: 75px;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
     
      
}


.container {

    padding-top: 10px;
    width: 100vw;
    height: auto;
    display: grid;
    /* gap: 1px; */
    
    
   
    /* parte que cuida da divisão de layout */
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        'perfil header  '
        'aside  main'
        'footer footer ';
        
        
}
.container h1,h2,h3 {
    padding-left: 50px; 
    padding-right:50px;

} 
header p{
    padding-left: 50px; 
    padding-right:50px;


}
.container  ul li {
    max-width: 100%;
    word-wrap: break-word; 
}


.container #perfil{
background-color: rgb(0, 0, 0);
grid-area: perfil;
text-align: center;
  


}

.container #perfil .icone{
    background-color: white;
   
    border-radius: 15%;


}
.container #perfil a{
    
    padding-right: 10px;
}


.container header{
    background-color: whitesmoke;
    grid-area: header ;
}
.container main{
    background-color: whitesmoke;
    grid-area: main;
   
}

.container aside{
    grid-area: aside;
   
    grid-row: aside;
}
.container footer{
    background-color: black;
    grid-area: footer;
    grid-column:footer;
   
}


#perfil img {
    max-width: 100%;
    height: auto;
    object-fit: cover; 
} 


/* para telas menores  */
@media only screen and (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            'perfil'
            'header'
            'aside'
            'main'
            'footer';
    }
    
    p {
        font-size: 0.8em; 
    }
    aside{
        background-color: white;

        color: black;
    }
}


@media only screen and (max-width: 320px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            'perfil'
            'header'
            'aside'
            'main'
            'footer';
    }
    
    p {
        font-size: 0.8em; 
    }
    aside{
        background-color: white;

        color: black;
    }
}







.icone{

    width: 15%;
    height: 15%;
    display: flex-inline;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    
}
.coluna-00 nav.coluna-titulo{
    color: aqua;
    margin-bottom: 20px;
    padding-left:  30px;

}
main {
    padding:50px;
  
  

}
.coluna-00 .content {
    border-left: solid 2px;
    padding: 0 30px;


}
.coluna-00 .content .box {
    position: relative;
    padding:20px;
    border: solid 1px #e0dbdb;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}
.coluna-00 .content .box:hover{
    box-shadow: 0px 3px 12px 0px cornflowerblue;
    border: solid 1px transparent;
}
.coluna-00 .content .box::before{
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    right: calc(100% + 22px) ;
    top:0;
    background-color: #0daaaf;
    border: solid 2px #fff;
    

}
.box h4{
    position: relative;
    font-weight: 600;
}
.box h3{
    font-size: 18px;
    padding:10px 0px 6px;
}
.box p{
    line-height: 1.2;
    color: #666;
    font-size: 17px;

}
